  <!DOCTYPE html>
  <html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<title>Welcome Xiurista!</title>
   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="./static/js/holder.js"></script>

    <link rel="stylesheet" href="./static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./static/css/style.css" type="text/css">
  </head>
  <body>
    <div class="center">
     <div id="first">
      <h1>Xiurista's Profile</h1>

      
  <div class="btn-group">
    <button type="button" class="btn btn-default">HOME</button>
    <button type="button" class="btn btn-default">HISTORY</button>
    <button type="button" class="btn btn-default">DIARY</button>
    <button type="button" class="btn btn-default">PICTURES</button>
    <button type="button" class="btn btn-default">CONTACT</button>
  </div>


  	<img class="profile" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/t1.0-9/406451_264803486913412_1902920111_n.jpg" alt="My Profile">
  	</div>

    <div id="content">
          <ul>
          	<li>University of Seoul</li>
          	<li>Life Science</li>
          	<li>Student</li>
          	<li>Senior</li>
          	<li>live in Seoul</li>
          </ul>
         
            <a href="https://www.facebook.com/saeyeon.cho"><img class="fblogo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTowGTMxs5GE7i8Rgc0Achi7PKUJ_WZgmZXYkSeQXUtp6qU6LRd">go to facebook page</a>
  	</div>

  </div>
  </body>
  </html>